.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
}

.btn {
    width: 270px;
    height: 160px;
    font-size: 34px;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: inset 0 0 0 12px #ef476f,
    inset 0 0 0 16px #ffd166,
    inset 0 0 0 24px #06d6a0,
    inset 0 0 0 32px #118ab2;
    box-shadow: inset 0 0 0 8px #ef476f,
    inset 0 0 0 16px #ffd166,
    inset 0 0 0 24px #06d6a0,
    inset 0 0 0 32px #118ab2;
    background: #073b4c;
    color: #fff;

}
